@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger-div {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
      align-items: center;
      .buttons {
        .login-btn {
          padding: 10px 30px;
          border-radius: 10px;
          border: 2px solid #000;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          transition: background-color 0.2s ease, color 0.2s ease;
          backface-visibility: hidden;
        }

        .login-btn:hover {
          background-color: #000;
          color: #fff;
        }

        .register-btn {
          cursor: pointer;
          margin-left: 10px;
          padding: 10px 30px;
          outline: none;
          border: 2px solid #000;
          color: #fff;
          background-color: #000;
          border-radius: 10px;
          transition: color 0.2s ease, border 0.2s ease,
            background-color 0.2s ease;
        }

        .register-btn:hover {
          background-color: transparent;
          color: #000;
          border: 2px solid #000;
        }
      }

      .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;

        li {
          font-size: 1.1rem;
          margin-left: 20px;
          cursor: pointer;
          transition: transform 0.2s ease;
        }

        li:hover {
          transform: translateY(-2px);
        }
      }
    }
    .burger {
      display: none;
      background-image: url("/assets/menu.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: none;
      outline: none;
      transition: all 0.2s ease;
    }
    .logo {
      cursor: pointer;
      display: flex;
      img {
        margin-left: 20px;
      }
      h1 {
        font-weight: 500;
        align-self: flex-end;
      }
    }
  }
}

main {
  .hero {
    margin-top: 40px;
    .hero-content {
      display: flex;
      flex-wrap: wrap;

      img {
        margin-left: -40px;
        height: 400px;
        margin: auto;
      }

      .type {
        margin: auto;
        width: 500px;
        height: fit-content;
        text-align: right;

        h1 {
          font-weight: 600;
          font-size: 2.5rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }

  .logos-links {
    padding: 30px 0;

    .bottom-links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      img {
        margin: 10px 0 0 10px;
        cursor: pointer;
      }
    }
  }
}

footer {
  height: 15vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-links {
    img {
      cursor: pointer;
      transition: transform 0.2s ease;
    }

    img:hover {
      transform: scale(1.2);
    }

    img:nth-child(1) {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    padding: 0 5px;
  }

  .hero {
    .hero-content {
      .type {
        padding-right: 100px;
      }
    }
  }
}

@media screen and (max-width: 922px) {
  .hero {
    .hero-content {
      justify-content: center;
      .type {
        padding: 0;
        h1 {
          text-align: center;
          width: 100%;
        }
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  header {
    .nav-content {
      .burger-container {
        height: 100%;
        display: flex;
        align-items: center;
      }

      .burger {
        display: flex;
        z-index: 2;
      }

      .burger-div {
        position: fixed;
        background-color: #fff;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        overflow: hidden;
        width: 0;

        .nav-links {
          flex-direction: column;
          text-align: center;
          li {
            margin-bottom: 50px;
          }
        }

        .buttons {
          display: flex;
          flex-direction: column;

          .login-btn {
            margin-bottom: 10px;
            width: 100%;
          }

          .register-btn {
            width: 100%;
            margin: 0;
          }
        }

        @keyframes slidein {
          from {
            opacity: 0;
            transform: translateX(-100%);
            box-shadow: 5px 0 10px 1000px rgba(0, 0, 0, 0);
          }
          50% {
            opacity: 1;
          }

          to {
            transform: translateX(0);
            box-shadow: 5px 0 10px 1000px rgba(0, 0, 0, 0.5);
          }
        }

        @keyframes slideout {
          from {
            opacity: 1;
            transform: translateX(0%);
            width: 300px;
            box-shadow: 5px 0 10px 1000px rgba(0, 0, 0, 0.5);
          }
          50% {
            opacity: 0;
          }
          to {
            opacity: 0;
            transform: translateX(-100%);
            width: 0px;
            box-shadow: 5px 0 10px 1000px rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }

  main {
    .hero {
      .hero-content {
        img {
          height: 400px;
        }
      }
    }
  }
}
